{{ block "config_tab" . }}

<div class="tabs tab-list" role="tablist">
    <button hx-get="/registration_list" role="tab" aria-selected="false" aria-controls="tab-content">Registered List</button>
    <button hx-get="/config_tab" class="selected" role="tab" autofocus aria-selected="true" aria-controls="tab-content">Config</button>
	  <button hx-get="/display" role="tab" aria-selected="false" aria-controls="tab-content">Display Charts</button>
</div>

<div id="tab-content" role="tabpanel" class="tab-content">
  <form>
    <div>Config</div>
    <div>
      <label for="config_name">Device Name</label>
      {{ template "config_device_options" .Devices }}
    </div>
    <div>
      <label for="config_wait">Wait Duration</label>
      <input type="number" id="config_wait" name="config_wait" />
    </div>
    <div>
      <label for="moisture_air">Moisture Air</label>
      <input type="number" id="moisture_air" name="moisture_air" />
    </div>
    <div>
      <label for="moisture_water">Moisture Water</label>
      <input type="number" id="moisture_water" name="moisture_water" />
    </div>
    <input type="button" value="Submit" />
  </form>
</div>

<script type="text/javascript">

function deviceNameChange() {
  const id = document.getElementById("config_device_name").value;
  fetch(`/config/${id}`).then(res => {
    if (res.statusCode < 200 || res.statusCode >= 300) {
      throw res;
    }
    return res.json();
  }).then(data => {
    document.getElementById("moisture_air").value = data.moisture_air;
    document.getElementById("moisture_water").value = data.moisture_water;
    document.getElementById("config_wait").value = data.wait;
  }).catch(err => {
    console.error(err);
    alert(err);
  });
}

function submitConfig() {
  const name = document.getElementById("config_device_name").value;
  const moisture_air = document.getElementById("moisture_air").value;
  const moisture_water = document.getElementById("moisture_water").value;
  const wait = document.getElementById("config_wait").value;
  const payload = {
    name,
    moisture_air,
    moisture_water,
    wait,
  };
  fetch("/config", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify(payload),
  }).then(res => {
    if (res.statusCode < 200 && res.statusCode >= 300) {
      throw res;
    }
    alert("saved successfully!");
  }).catch(err => {
    console.error(err);
    alert(err);
  });
}

</script>

{{ end }}

{{ block "config_device_options" . }}
<select id="config_device_name" name="config_device_name" onChange="deviceNameChange()">
  {{ range . }}
  <option label="{{ . }}" value="{{ . }}" />
  {{ end }}
</select>
{{ end }}
