{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, World!</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
>
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
</head>
<body>
    <div class="toast">
        <div hx-swap-oob="outerHTML:#toast" id="toast" class="">
        </div>
    </div>

    <div id="tabs" hx-get="/registration_list" hx-trigger="load delay:100ms" hx-target="#tabs" hx-swap="innerHTML"></div>

</body>
</html>
{{ end }}

{{ block "registration_list" . }}
<div class="tabs tab-list" role="tablist">
    <button hx-get="/registration_list" class="selected" role="tab" aria-selected="true" autofocus aria-controls="tab-content">Registered List</button>
    <button hx-get="/config_tab" role="tab" aria-selected="false" aria-controls="tab-content">Config</button>
	  <button hx-get="/display" role="tab" aria-selected="false" aria-controls="tab-content">Display Charts</button>
</div>

<div id="tab-content" role="tabpanel" class="tab-content">
  <table class="table" id="registration_list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Is Active</th>
        <th>Moisture</th>
        <th>Temp</th>
        <th>Lux</th>
        <th>Registration Time</th>
        <th>Last Updated</th>
        <th>Calibrate</th>
      </tr>
    </thead>
    <tbody>
      {{ range . }}
          {{ template "registration_info" . }}
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}

{{ block "registration_info" . }}
<tr>
  <td>{{ .Id }}</td>
  <td>{{ .Name }}</td>
  <td>{{ template "active_update" . }}</td>
  <td>{{ .Moisture }}</td>
  <td>{{ .Temp }}</td>
  <td>{{ .Lux }}</td>
  <td>{{ .RegistrationUpdatedAt }}</td>
  <td>{{ .UpdatedAt }}</td>
  <td><button type="button" hx-get="/calibrate/{{ .Name }}">Queue</button></td>
</tr>
{{ end }}

{{ block "toast" . }}
<div hx-swap-oob="outerHTML:#toast" id="toast" class="fade-out {{ .ClassName }}">
        {{ .Message }}
</div>
{{ end }}

{{ block "error" . }}
  <div> ERROR: </div>
  <div> . </div>
{{ end }}

{{ block "active_update" . }}
<button hx-get="/change-active/{{ .Name }}" hx-swap="innerHTML" hx-target="this">{{ .IsActive }}</button>
{{ end }}
